@{
    ViewData["Title"] = "Done";
}
<h1>@ViewData["Title"]</h1>


<div class="alert alert-success" role="alert">
    Your request has been processed.
</div>

<a asp-controller="Home" asp-action="Index" class="link-primary">Home</a>
