@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<div class="alert alert-danger" role="alert">
    We DO NOT collect your data but please use this website as an performance testing your website. DO NOT try to DoS any websites!!!
</div>

